*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  max-width: 1920px;
  margin: 0 auto;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .navber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.header .nav .navber ul {
  display: flex;
  list-style: none;
}
.header .nav .navber ul li a {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: #292929;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .nav .navber ul li a span {
  color: #7ECAEB;
  margin-left: 8px;
  font-size: 15px;
  transition: all 0.3s ease-in;
}
.header .nav .navber ul li a:hover span {
  transform: rotate(90deg);
  transition: all 0.3s ease-in;
}
.header .nav .navber ul .dropdown {
  position: relative;
  transition: all 0.7s ease-out;
}
.header .nav .navber ul .dropdown:hover ul {
  visibility: visible;
  height: max-content;
  opacity: 1;
}
.header .nav .navber ul .dropdown ul {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 250px;
  height: 0;
  padding: 20px;
  border-radius: 10px;
  border-top: 3px solid #7ECAEB;
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  visibility: hidden;
  opacity: 0;
}
.header .nav .navber ul .dropdown ul li {
  margin-top: 10px;
  padding: 5px;
}
.header .nav .navber ul .dropdown ul li:hover {
  background-color: #7ECAEB;
  border-radius: 50px;
}
.header .nav .navber ul .dropdown ul li:hover a {
  margin-left: 15px;
  color: #fff;
  transition: all 0.7s ease-out;
}
.header .nav .navber ul .dropdown ul li a {
  padding: 0;
  margin-left: 0;
  font-weight: 500;
  transition: all 0.7s ease-out;
}
.header .nav .nav-search-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .nav .nav-search-wrapper .nav-search-btn {
  border: 1.5px solid;
  padding: 0px 20px;
  border-radius: 50px;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: inherit;
}
.header .nav .nav-search-wrapper .nav-search-btn input {
  border: none;
  outline: none;
  font-size: 18px;
}
.header .nav .nav-search-wrapper .nav-search-btn button {
  border: 0;
  background: transparent;
  font-size: 18px;
}
.header .nav .nav-search-wrapper .nav-menu span {
  height: 64px;
  width: 64px;
  border: 1.5px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease;
}
.header .nav .nav-search-wrapper .nav-menu:hover span {
  background-color: #292929;
  color: #fff;
  border: 1.5px solid;
}