*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  max-width: 1659px;
  margin: 0 auto;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .navber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.header .nav .navber ul {
  display: flex;
  list-style: none;
}
.header .nav .navber ul li a {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: #292929;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .nav .navber ul li a span {
  color: #7ECAEB;
  margin-left: 8px;
  font-size: 15px;
  transition: all 0.3s ease-in;
}
.header .nav .navber ul li a:hover span {
  transform: rotate(90deg);
  transition: all 0.3s ease-in;
}
.header .nav .navber ul .dropdown {
  position: relative;
  transition: all 0.7s ease-out;
}
.header .nav .navber ul .dropdown:hover ul {
  visibility: visible;
  height: max-content;
  opacity: 1;
}
.header .nav .navber ul .dropdown ul {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 250px;
  height: 0;
  padding: 20px;
  border-radius: 10px;
  border-top: 3px solid #7ECAEB;
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  visibility: hidden;
  opacity: 0;
}
.header .nav .navber ul .dropdown ul li {
  margin-top: 10px;
  padding: 5px;
}
.header .nav .navber ul .dropdown ul li:hover {
  background-color: #7ECAEB;
  border-radius: 50px;
}
.header .nav .navber ul .dropdown ul li:hover a {
  margin-left: 15px;
  color: #fff;
  transition: all 0.7s ease-out;
}
.header .nav .navber ul .dropdown ul li a {
  padding: 0;
  margin-left: 0;
  font-weight: 500;
  transition: all 0.7s ease-out;
}
.header .nav .nav-search-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .nav .nav-search-wrapper .nav-search-btn {
  border: 1.5px solid;
  padding: 0px 20px;
  border-radius: 50px;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: inherit;
}
.header .nav .nav-search-wrapper .nav-search-btn input {
  border: none;
  outline: none;
  font-size: 18px;
}
.header .nav .nav-search-wrapper .nav-search-btn button {
  border: 0;
  background: transparent;
  font-size: 18px;
}
.header .nav .nav-search-wrapper .nav-menu span {
  height: 64px;
  width: 64px;
  border: 1.5px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease;
}
.header .nav .nav-search-wrapper .nav-menu:hover span {
  background-color: #292929;
  color: #fff;
  border: 1.5px solid;
}

.home-page-container {
  margin-top: 80px;
}
.home-page-container .home-page-content .home-page-title h2 {
  font-size: 85px;
  line-height: 104px;
  letter-spacing: -1.42px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}
.home-page-container .home-page-content .home-page-article {
  margin-top: 32px;
}
.home-page-container .home-page-content .home-page-article .home-page-desc {
  margin-bottom: 32px;
}
.home-page-container .home-page-content .home-page-article .home-page-desc p {
  font-size: 18px;
  font-family: "Questrial", sans-serif;
  color: #525256;
}
.home-page-container .home-page-content .home-page-article .btn-wrapper {
  display: inline-flex;
}
.home-page-container .home-page-content .home-page-article .btn-wrapper a {
  transition: ease 0.8s all;
}
.home-page-container .home-page-content .home-page-article .btn-wrapper .theme-btn {
  padding: 25px 44px;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #CFF480;
  color: #292929;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 50px;
}
.home-page-container .home-page-content .home-page-article .btn-wrapper .circle-arrow-btn {
  padding: 25px 30px;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #CFF480;
  color: #292929;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 50px;
  transform: rotate(-45deg);
}
.home-page-container .home-page-content .home-page-article .btn-wrapper:hover a {
  background-color: #292929;
  color: #fff;
  transition: ease 0.8s all;
}
.home-page-container .home-page-content .home-page-article .btn-wrapper:hover .circle-arrow-btn {
  transform: rotate(0deg);
}

.cta-area {
  margin: 100px 0;
}
.cta-area .cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-area .cta-wrapper .section-title {
  background-color: #CFF480;
  padding: 40px;
  border-radius: 35px 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  width: 27%;
  height: 391px;
}
.cta-area .cta-wrapper .section-title .sec-content .title {
  font-size: 24px;
  line-height: normal;
  letter-spacing: -0.34px;
  margin-bottom: 8px;
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}
.cta-area .cta-wrapper .section-title .sec-content .number {
  font-size: 95px;
  line-height: 104.5px;
  letter-spacing: -1.425px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}
.cta-area .cta-wrapper .section-title .btn-inner {
  padding: 20px 0;
}
.cta-area .cta-wrapper .section-title .btn-inner span {
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #292929;
  text-align: start;
}
.cta-area .cta-wrapper .section-title .service-btn-area {
  position: absolute;
  background-color: #CFF480;
  bottom: 0;
  right: -220px;
  height: 158px;
  width: 221px;
  border-radius: 0 35px 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-area .cta-wrapper .section-title .service-btn-area .service-btn {
  background-color: #292929;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 20px 44px;
}
.cta-area .cta-wrapper .section-title .service-btn-area .left-sticky-corner {
  position: absolute;
  transform: rotate(180deg);
  top: -35px;
  left: 1px;
}
.cta-area .cta-wrapper .image-wrapper {
  width: 70.5%;
  height: 391px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}
.cta-area .cta-wrapper .image-wrapper .rectangle-shape {
  width: 221px;
  height: 183px;
  background-color: #fff;
  border-radius: 0 35px 0 0;
  position: absolute;
  bottom: 0;
  z-index: 4;
}
.cta-area .cta-wrapper .image-wrapper .top-sticky-corner {
  position: absolute;
  transform: rotate(180deg);
  top: -31px;
}
.cta-area .cta-wrapper .image-wrapper .right-sticky-corner {
  position: absolute;
  right: -34px;
  bottom: 0;
  transform: rotate(180deg);
  z-index: 12;
}