* , ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
max-width: 1659px;
margin: 0 auto!important;
}

// Variable 

$headerFont: "Urbanist", sans-serif;
$primaryFont: "Questrial", sans-serif;

//colors 

$primaryColor: #CFF480;
$grayColor: #525256;
$secondaryColor: #D9EAFD;
$textColor: #292929;
$blueColor: #7ECAEB;


// External sass files 

@import "mixin";
@import "header";
@import "home-page";
@import "cta-area";